@charset "utf-8";
/* CSS Document */
<style type="text/css">
body{
	margin-left:opx;
		margin-right:0px;
		margin-top:0px;
		margin-bottom:0px;
	background-color:#CCC;
			font-family:antic;
		font-size:18px;
		font-weight:normal;
	 }
/* donde esta el banner y el contenido*/
#principal{
	height: auto;
	width: 1000px;
	background-color:#FFF;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	overflow: auto;	
}
/* aqui esta el banner*/ 
#emcabezado{
	height:1000px;
	height:150px;
	box-shadow: 10px 10px 10px gray;
}
#logo{
	height:300px;
	height:150px;
	
}
/* el menu*/
header {
    width: 100%;
}
header nav {
   width: 100%; 
   max-width: 1000px;
   margin: 25px auto;
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #d31504 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#d31504), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#d31504 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */



color:#FFF;
}
header nav ul  {
 overflow:hidden; 
 list-style:none;
}
header nav ul li {
    float: left;   
}
header nav ul li img {
    margin-right:5px;  
}
header nav ul li a {
   color:#fff;
   padding:20px;
   display:block;
   text-decoration:none;
}
header nav ul li:hover {
	background:rgba(0,0,0,0.3);
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	border-bottom:none;
        overflow:hidden; 
       list-style:none
        color:#fff;
      }
/*	ul, ol {
	list-style:none;}
.nav li a{
background: #f0b7a1;  Old browsers 
background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);  IE10+ 
background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 );  IE6-9 
		color:#FFF;
		text-decoration:none;
		padding:3px 19px;
		display:block;
		border-radius:4px;
	    border-bottom:1px solid #555555;
		box-shadow: 10px 10px 5px gray;		
		}
.nav li:hover {
	background:rgba(0,0,0,0.3);
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	border-bottom:none;}
.nav li:active{
	background:rgba(0,0,0,.3);
	box-shadow:inset 0px 3px 2px rgba(0,0,0,1);
	}
.nav li:first-child{
	border-left:none;}	
.nav li:first-child:hover{
	border-left:none;}
		
		.nav li a:hover {
			background-color:#FFF;	
		}
		.nav > li{
			float:left;
		}
		.nav li ul {
			display:none;
			position:absolute;
			min-width:100px;
		}
	.nav li:hover > ul {
		display:block;
	}
.search_bar{
	width:15%;
	float:left;
	padding:7px 10px;
	box-sizing:border-box;
	position:relative;
	transition:all.5s ease;}
.search_bar input{
	width:100%;
	height:auto;
	border-radius:50px;
	border:none;
	border-bottom:1px solid #858585;
	padding:0px 10px 0px 25px;
	box-sizing:border-box;
	height:22px;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.7);
background: #feffff;  Old browsers 
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef));  Chrome,Safari4+ 
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);  Opera 11.10+ 
background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);  IE10+ 
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );  IE6-9 
	}
.search_bar input:focus{
	background:#fff;
	box-shadow:none;}
.icon-house{
	display:block;
	position:relative;
	top:2px;}
.icon-search{
	position:absolute;
	bottom:10px;
	left:15px;
	color:#FFF;
	text-decoration:none;}*/

/* termina el menu*/
 #columna1 {
	height: auto;
	width: auto;
	margin-top: 120px;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	overflow: auto;
	text-align:center;
	 border-radius:10px solid;
}
 #columna2 {
	width:200px;
	height:auto
	float:left;
	margin-top: 120px;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	overflow: auto;
	text-align:center;
	 border-radius:10px solid;
}
 #columna {
	height:350px;
	width: auto;
	float:right;
	margin-top: 30px;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	overflow: auto;
	text-align:center;
	 border-radius:10px solid;
}
/* tablas*/
#oferta {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 80%;
    border-collapse: collapse;
	border-radius:50px;
		margin-top:110px;
		margin-left:100px;
}

#oferta td, #oferta th {
    font-size: 1em;
    border: .7px solid #000;
    padding: 3px 7px 2px 7px;
	background-color:#FFF
}

#oferta th {
    font-size: 1.1em;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color:#f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
	
}

#oferta tr.alt td {
    color: #000000;
    background-color:#FFF;
}
/*comienza tabla1*/
#tablacontratos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 40%;
    border-collapse: collapse;
	border-radius:50px;
		margin-top:100px;
		margin-left:100px;
}

#tablacontratos td, #tablacontratos th {
    font-size: 1em;
    border: 1px solid #000;
    padding: 3px 7px 2px 7px;
	background-color:#FFF
}

#tablacontratos th {
    font-size: 1.1em;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color:#f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}
#tablacontratos tr.alt td {
    color: #000000;
    background-color:#FFF;
}


/*termina tabla2*/
#customers1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 40%;
    border-collapse: collapse;
	border-radius:50px;
		margin-top:100px;
}

#customers td, #customers th {
    font-size: 1em;
    border: 1px solid #000;
    padding: 3px 7px 2px 7px;
	background-color:#FFF
}

#customers th {
    font-size: 1.1em;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 4px;
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #d31504 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#d31504), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#d31504 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a90329 0%,#d31504 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}
#customers tr.alt td {
    color: #000000;
    background-color:#FFF;
}

/*termina tablas*/

/* formularios*/
h3{
	font-size:30px; color:#900; text-align:center; margin: 0 0 35px 0; text-shadow:0px 1px 0px #2f2f2f2;}
.enlaces{
	font-size:20px; color:#900; text-align:center; margin: 0 0 35px 0; text-shadow:0px 1px 0px #2f2f2f2;}

#form1{
	width:430px; margin:10px auto; padding:30px 30px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); border:1px solid #CCC;
	-moz-box-shadow:0px opx 6px #CCCCCC;
	-webkit-box-shadow:0px 0px 8px #CCC;
	
}
#ofertas{
	width:700px; margin:10px auto; padding:30px 30px; float:center; 
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); border:1px solid #CCC;
	-moz-box-shadow:0px opx 6px #CCCCCC;
	-webkit-box-shadow:0px 0px 8px #CCC;
	
}

#form3{
	width:400px; margin:10px auto; padding:30px 30px; float:right; margin-right:20px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); border:1px solid #CCC;
	-moz-box-shadow:0px opx 6px #CCCCCC;
	-webkit-box-shadow:0px 0px 8px #CCC;
	
}	 

.select {  
    width: 250px;
	height:30px;                 /* anchura de campos de formulario */                    /* color del texto */   
    border: 1px solid gray;        /* color del borde puede ser solid ó dotted */   
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	color:#000;
border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
}
.textfield {
    width: 250px;
	height:30px;                 /* anchura de campos de formulario */                    /* color del texto */   
    border: 1px solid gray;        /* color del borde puede ser solid ó dotted */   
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	color:#000;
border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
}
label::after {
	content: "*";
	color: red;
}
label.error {
	color: #900;
	font-style: italic;
	font-size: 1em;
	text-align:center;
	padding: 3px;
	margin: 5px;}
.btn {
width:200px; height:40px;float:center; padding: 10px 5px; margin:0 15 0 0;
-moz-box-shadow:0px 0px 5px #999; -webkit-box-shadow:0px 0px 5px #999;
border:1px solid #556f8c;
cursor:pointer;
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 );
color:#FFF;
border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
}

textarea{
  border: 1px solid gray;  
  width:300px; height:200px; padding:5px 20px 0px 20px; margin:0 0 20px 0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px;
}

fieldset {
	background-color:transparent;
	border-style: red;
	border-color: black;
	width:auto;
	height:auto;
}

/* termina formularios*/			 
	     #columna2 {
		 height:300px;
		 width:1000px;
		 margin-top:50px;
		 margin-bottom:auto;
		 margin-right:auto;
		 margin-left:auto;
		 overflow:auto;
		  border-radius:10px solid;
		 }
		 
		     #plones{
		     margin-left:50px;
			 margin-right:auto;
			 float:left;
			 height:300px;
			 width:500px;
			 overflow:hidden;
			 border-radius:10px;}	 

	.pie_de_pagina1{
		 margin-bottom:auto;
		 margin-right:auto;
		 margin-left:auto;
	width: 1000px;
	height:100px;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

	text-align: center;
	}
        	.pie_de_pagina{
		 margin-bottom:auto;
		 margin-right:auto;
		 margin-left:auto;
	width: 1000px;
	height:70px;
background: #fcfff4; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

	text-align: center;
	}
/*login*/
#login{
	width:360px;
	height:430px;
	float:right;
	margin-right:80px;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); border:1px solid #CCC;
	-moz-box-shadow:0px opx 6px #CCCCCC;
	-webkit-box-shadow:0px 0px 8px #CCC;}

#login h1{
text-align:center;
color:#000;
font-weight:normal;
font-size:40pt;
margin:30px 0px;
font-family:'pinyon Script';
	}
#login input{
	width:280px;
	height:35px;
	padding:0px 10px;
	margin:10px 30px;
	color:#6d6d6d;
	border:#000;
	text-align:center;
	}
#login button{
	width:135px;
	margin:20px 0px 30px 30px;
	height:50px;}
	
#login button:hover{
	background:#CCC;}
#login button:active{
	background:#CCC;}
.img{
	margin-left:100px;}
</style>

